.btn {
    cursor: pointer;
    position: relative;
    font-family: inherit;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 2px solid;
    background-color: transparent;
    height: 40px; min-width: 125px;
    padding: 0 10px;
    transition: .35s;
    z-index: 4;

    &:active {
        transform: scale(0.98);
    }

    &:hover {
        border-radius: 50px;
    }

    &--black {
        display: flex;
        align-items: center;
        justify-content: center;
        border-color: $dark-gray;
        font-weight: 700;

        &:hover {
            background-color: $dark-gray;
            border-color: $dark-gray;
            color: $light-gray;
        }

        @include rwd(710) {
            background-color: $dark-violet;
            border-color: $light-gray;
            font-size: 18px;
            letter-spacing: 1px;
            font-weight: normal;
            height: 50px;
            transition: .45s;
            
            &:hover {
                background-color: $light-gray;
                color: $dark-violet !important;
            }
        }
    }

    &--gray {
        color: $light-gray;
        border-color: $light-gray;

        &:hover {
            background-color: $light-gray;
            color: $dark-violet;
            font-weight: 700;
        }
    }
}