@import 'styles/themes';
@import 'styles/type';

@import 'styles/mixins';
@import 'styles/global';

@import 'styles/button';
@import 'styles/navbar';
@import 'styles/header';
@import 'styles/different';
@import 'styles/cta';
@import 'styles/footer';